<!-- Footer -->
<footer class="page-footer font-small" style="background-color: #f8f9fa" id="sticky-footer">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://satendra-gond-messageme.herokuapp.com/"> Satendra Kumar Gond</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->